@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=Red+Hat+Display:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'questrial';
}

:root{
    --pink: #FCE4D9;
    --text-color: #000000;
    --blue: #E5E5E5;
}

.line{
    border-top: 1px solid #000000;
}
body{
    background-color: #E5E5E5;
}

/* header css */
header {
    background-color: #FFFFFF;
}

.navbar-nav a{
    color: var(--text-color);
    font-style: normal;
    font-weight: 12px;
    line-height: 15px;
    margin: auto 10px;
}

.main-nav .navbar-nav a:hover{
    border-bottom: solid 2px var(--text-color);
}

.es-back-btn-wrapper {
    padding: 56px 0 40px 0;
}

.es-back-btn-wrapper .btn {
    padding: 0;
    border-radius: 0;
}

.es-back-ic {
    padding: 0.75rem 1rem;
    border: 1px solid #000;
}

.es-back-btn-text {
    font-size: 0.75rem;
    margin-left: 0.625rem;
}

.page-main-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
}

.text-14 {
    font-size: 0.875rem;
}

.text-500 {
    font-weight: 500;
}

.about-map {
    width: 55%;
    right: 0;
    top: 0;
    height: 100%;
}

.company-image {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkout-options {
    margin-bottom: 1.375rem;
    margin-left: -0.5rem;
}

.toggle-group {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.toggle-group input[type="radio"] {
    display: none;
}

.toggle-group label {
    display: inline-block;
    margin-right: 1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: #a3a3a3;
    border-bottom: 1px solid transparent;
}

.toggle-group input[type="radio"]:checked + label {
    border-bottom: 1px solid #000;
    color: #000;
}

.input-container {
    margin-bottom: 1.375rem;
}

.input-container label {
    font-weight: 700;
    font-size: 1.125rem;
    display: block;
}

.input-container input,
.input-container textarea {
    background-color: transparent;
    resize: none;
}

.user-code-input {
    width: 153px;
    margin-right: 1.25rem;
}

.es-gray-btn {
    border-color: #a3a3a3;
    width: 153px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    margin-right: 1.25rem;
}

.es-gray-btn.active {
    color: #000;
    border-color: #000;
}

.es-gray-btn:hover {
    border-color: #000;
}

.light-grey-text {
    color: #a3a3a3;
}

.btn-hover-black:hover {
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #000;
}

.form-control {
    padding: 0.5rem 1rem;
    height: calc(1.5em + 1.5rem + 2px);
    border: 1px solid #a3a3a3;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #a3a3a3;
}

/* main */

.pad-b {
    padding-bottom: 140px;
}

.container-mb{
    margin-bottom: 120px;
}

.navigation a{
    color: #A3A3A3;
    text-decoration: none;
}

.navigation a:hover{
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
}

.input-container {
    width: 475px;
    height: 50px;
    border-radius: 0;
    background-color: #E5E5E5;
}

.input-container-comment{
    width: 475px;
    height: 204px;
    border: 1px solid #A3A3A3;
    border-radius: 0;
    background-color: #E5E5E5;
}

.input-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    margin-top: 25px;
    margin-bottom: 8px;
}

.resent-adress{
    color: #A3A3A3;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.adress-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
}

.border-profile{
    border: 1px solid #A3A3A3;
    border-radius: 0;
    padding: 12px 25px;
    margin-bottom: 50px;
    margin-right: 20px;
    color: #A3A3A3;
}

.border-profile:hover{
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.input-name .span{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.btn-order{
    border: 1px solid var(--text-color);
    padding: 12px 55px;
    border-radius: 0;
    background-color: var(--text-color);
    color: white;
    margin-top: 40px;
}

.btn-order:hover{
    background-color: white;
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

/* footer css */
.footer{
    background-color: #E5E5E5;
}

.footer-container{
    margin-top: 46px;
}

.border-left{
    border-left: 1px solid var(--text-color);
}

.footer-nav a{
    margin-right: 50px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}

.footer-nav p{
    margin-top: 190px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.footer-download{
    margin-top: 90px;
}

.footer-download a{
    margin-right: 10px;
}

.footer-social p a{
    color: var(--text-color);
}

.footer-social p:last-child{
    margin-top: 13px;
}

.social-container a{
    margin-right: 20px;
}