@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=Red+Hat+Display:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'questrial';
}

:root{
    --pink: #FCE4D9;
    --text-color: #000000;
    --blue: #E5E5E5;
}

.line{
    border-top: 1px solid #000000;
}

/* header css */
.header{
    background-color: #D0DEFC;
}

.navbar-nav a{
    color: var(--text-color);
    font-style: normal;
    font-weight: 12px;
    line-height: 15px;
    margin: auto 10px;
}

.main-nav .navbar-nav a:hover{
    border-bottom: solid 2px var(--text-color);
}

/* section css */
.main {
    font-family:Arial;
    width:500px;
    display:block;
    margin:0 auto;
}
h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
}
.action a {
    display:inline-block;
    padding:5px 10px; 
    background:#f30;
    color:#fff;
    text-decoration:none;
}
.action a:hover{
    background:#000;
}

.product-for{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.product{
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
}

.border-pro{
    border: 1px solid var(--text-color);
    width: 35px;
    height: 35px;
}

.border-pro a{
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-pro:hover{
    background-color: var(--text-color);
}

.border-pro a:hover{
    color: white;
}

.price{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

.price span{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.product-price{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FF3D00;
    font-weight: bold;
}

.product-price span{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FF3D00;
}

.product-price a{
    color: #FF3D00;
}

.btn-desc{
    border-radius: 0px;
}

.desc-container{
    width: 240px;
    height: 500px;
    overflow-y: scroll;
}

/* footer css */
.footer{
    background-color: white;
}

.footer-container{
    margin-top: 46px;
}

.border-left{
    border-left: 1px solid var(--text-color);
}

.footer-nav a{
    margin-right: 50px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}

.footer-nav p{
    margin-top: 190px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.footer-download{
    margin-top: 90px;
}

.footer-download a{
    margin-right: 10px;
}

.footer-social p a{
    color: var(--text-color);
}

.footer-social p:last-child{
    margin-top: 13px;
}

.social-container a{
    margin-right: 20px;
}